@import "../Variables.scss";
@import "./Sizes.scss";

.layout-square {
    height: 100%;
    grid-row-end: span 1;

    background-color: #25282d;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &.rectangle {
        grid-column-end: span 2;
    }

    &.large {
        grid-column-end: span 2;
        grid-row-end: span 2;
    }
}