
.timeout-overlay {
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: space-evenly;
    font-size: 2em;
    flex-direction: column;
}

.timeout-overlay~div {
    display: none;
}