.labeled-list-tile {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    > .item {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;

        .label {
            padding: 0px 5px;
        }

        .value {
            flex: 1;
        }

        .footer {
            font-size: 0.5em;
            flex-basis: 100%;
        }
    }
}